.icon-action:hover {
    color: #8783b0;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.accion {
    color: #6859FF;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #C1D3F4;
}

table th, td {
    border: 2px solid #C1D3F4;
    padding: 12px;
}

.name {
    text-transform: capitalize;
}